<nav class="brown darken-3 z-depth-2">
<div class="nav-wrapper">
    <div class="container">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        {% if nav_list %}
        <ul class="left hide-on-med-and-down ">
            {% for item in nav_list %}
            <li><a href="{{item['link']}}">{{ item['name'] }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
</nav>

{% if nav_list %}
<ul id="mobile-demo" class="sidenav">
    {% for item in nav_list %}
    <li><a href="{{item['link']}}">{{ item['name'] }}</a></li>
    {% endfor %}
</ul>
{% endif %}


